body{
    background-color: lightgrey;
    background: url("../images/background-img.jpg")center / cover no-repeat fixed;
    margin: 0;
    min-height: 100vh;
    font-weight:bold;
}
.text-center {
    text-align: center;
}