body {
    background-color: lightgrey;
    background-image: url("assets/images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}