body{
    background-color: lightgrey;
    background-image: url("../images/background-img.jpg");
    background: center / cover no-repeat fixed;
    font-weight:bold;
}
.text-center {
    text-align: center;
}